// ========== Fonts ==========

//  => Sizes

$header-font-size-1: 3rem;

//  => weight

$regular-font-weight: 700;
$second-font-weight: bold;

//  => Family

$regular-font-family: "Raleway", sans-serif;

// ========== Colors ==========

$regular-color: #fff;
$second-color: rgba(134, 184, 209, 0.62);
$third-color: #67b0d1;
$forth-color: #2f4d5a;
